<div id="signup">
    <div class="form-top">
        <label>Registro de usuarios</label><img src="image/signup.png">
    </div>
    <div class="form-down">
        <label>Alias:</label>
        <input type="text" id="alias" value="{alias}"/><br/>
        <label>Password:</label>
        <input type="password" id="pass"/><br/>
        <label>Repite password:</label>
        <input type="password" id="rpass"/><br/>
        <button id="btsignup">Aceptar</button>
        <button id="btback">Cancelar</button>       
    </div>
</div>